@import '../reset.css';
@import '../header-and-footer.css';
@import '../animations.css';

button:active{
	-webkit-transform: translate(2.5px,2.5px);
	-moz-transform: translate(2.5px,2.5px);
	transform: translate(2.5px,2.5px);
}

@media only screen and (min-width:287px){
	section{
		margin: 0 auto;
		width: 80%;
	}

	section>button{
		border: 3px solid rgb(0,0,0);
		border-radius: 3px;
		cursor: pointer;
		display: block;
		font-family: "Maindra GD", cursive;
		font-weight: bold;
		margin: 10px auto;
	}

	section>ol{
		float: left;
		margin-left: 15px;
		margin-right: 0px;
		margin-top: 5px;
		width: 40%;
	}

	section>ul{
		float: left;
		list-style-type: none;
		margin-top: 5px;
		text-align: left;
		width: 15%;
	}
	
	section{
		height: 240px;
	} 
	
	section,button,p:first-of-type{
		font-size: 70%;
	}
	
	p:first-of-type{
		left: 30%;
		width: 50%;
	}
}

@media only screen and (min-width:400px){
	section{
		float: left;
		width: 45%;
	}
}

@media only screen and (min-width:500px){
	section{
		height: 300px;
	}
	
	section>ol{
		margin-left: 20px;
	}
	
	section,button,p:first-of-type{
		font-size: 80%;
	}
}

@media only screen and (min-width:700px){	
	section{
		width: 40%;
	}
	
	section:nth-child(even){
		margin-left: 7.5%;
	}
	
	section,button,p:first-of-type{
		font-size: 90%;
	}
}

@media only screen and (min-width:800px){	
	section,button,p:first-of-type{
		font-size: 100%;
	}
	
	section{
		height: 330px;
		width: 35%;
	}	
	
	section:nth-child(even){
		margin-left: 15%;
	}
}

@media only screen and (min-width:1020px){
	section{
		margin: 0 auto;
		width: 350px;
	} 
	
	section:nth-child(even){
		margin-left: 100px;
	}
	
	section>ol{
		width: 180px;
	}

	section>ul{
		float: left;
		list-style-type: none;
		margin-top: 5px;
		text-align: left;
		width: 100px;
	}
}

section>h1{
	font-size: 110%;
	margin: 10px auto;
}

p:first-of-type{
	background-color: rgb(0,0,255);
	height: 25px;
	padding: 5px;
	position: absolute;
}

li.shiftLeft{
	margin-left: -5px;
}

section, p:first-of-type{
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
}

section>button,footer{
	clear: both;
}