@import '../reset.css';
@import '../header-and-footer.css';
@import '../animations.css';

@media only screen and (min-width:287px){
	#startNewGame>p, #wagerBox>p,#wrapper>section,
	#finalJeopardyInfo>p, #finalJeopardyInfo>ul, 
	#showGameStats>section>ul, #showGameStats>form>p,
	#showGameStats>form>button,#showGameStats>button:last-child,
	#startNewGame>button, #wagerBox>button{
		font-size: 70%;
	}
	
	section>button{
		margin: 10px auto;
	}
	
	#showGameStats>form{
		margin: 0 auto;
		width: 80%;
	}
	
	#showGameStats>form>button{
		margin: 0 auto;
	}
	
	#startNewGame>button, #wagerBox>button{	
		margin: 1% auto;
	}
	
	#finalJeopardyInfo>h1{
		font-size: 100%;
	}

	#wagerBox,#finalJeopardyInfo,#showGameStats,#startNewGame{
		top: -300px;
	}
	
	#showGameStats>section{
		margin: 0 auto;
		width: 80%;
	}
	
	#showGameStats>button:last-of-type{
		margin: 10px auto;
		width: 250px;
	}
}

@media only screen and (min-width:500px){
	#showGameStats>section, #finalJeopardyInfo>p,#finalJeopardyInfo>ul,#showGameStats>section>ul>li, 
	#showGameStats>form>p,#showGameStats>form>button,#showGameStats>button:last-child{
		font-size: 80%;
	}
	
	#finalJeopardyInfo>ul{
		margin-left: 10%;
		width: 70%;
	}
}
@media only screen and (min-width:700px){
	#wagerBox, #finalJeopardyInfo, #showGameStats{
		left: 10%;
		width: 80%;
	}
	
	#wagerBox>p, #wagerBox>button, #finalJeopardyInfo>p,#finalJeopardyInfo>ul,
	#showGameStats>section>ul,#showGameStats>form>p,#showGameStats>form>button,
	#showGameStats>button:last-child{
		font-size: 90%;
	}
	
	#finalJeopardyInfo>ul{
		width: 80%;
	}
}

@media only screen and (min-width:800px){
	#startNewGame{
		left: 10%;
		width: 80%;
	}
	
	#showGameStats>section, #startNewGame>p, #startNewGame>button{
		font-size: 90%;
	}
	
	#wagerBox, #finalJeopardyInfo, #showGameStats{
		left: 20%;
		width: 60%;
	}
}

@media only screen and (min-width:1020px){	
	#startNewGame{
		left: 375px;
		width: 600px;
	}
	
	#wrapper>section, #startNewGame>p, #startNewGame>button{
		font-size: 100%;
	}
	
	#wagerBox, #finalJeopardyInfo, #showGameStats, #startNewGame{
		top: -400px;
	}
	
	#wagerBox{
		height: 200px;
		left: 425px;
		width: 500px;
	}
	
	#wagerBox>button{
		margin-left: 225px;
		margin-top: 5px;
	}
	
	#wrapper>section{
		height: 300px;
		margin-left: 200px;
		width: 600px;
	}

	section>span:first-of-type{
		margin-left: 2px;
	}

	section>p:first-child{
		margin: 15px auto;
		width: 500px;
	}

	section>p:nth-child(2){
		margin-bottom: 0px;
		margin-top: 15px;
	}
	
	#finalJeopardyInfo{
		height: 250px;
		left: 375px;
		width: 600px;
	}
	
	#finalJeopardyInfo>ul{
		margin-left: 20px;
		width: 500px;
	}
	
	#showGameStats{
		height: 350px;
		left: 375px;
		width: 600px;
	}

	#showGameStats>section>ul{
		width: 250px;
	}

	#showGameStats>section{
		float: left;
		width: 280px;
	}
	
	#showGameStats>form{
		margin: 0 auto;
		width: 480px;
	}
	
	#showGameStats>button:last-of-type{
		left: 20px;
		margin-bottom: 10px;
		margin-top: 10px;
		position: relative;
	}
	
	section>button{
		margin-left: 225px;
		margin-top: 10px;
	}
}

#wagerBox>button:active, #answer>button:active, section>button:active, #startNewGame>button:active, #showGameStats>button:active{
	-ms-transform: translate(2.5px,2.5px); /* IE vendor prefix*/
    -webkit-transform: translate(2.5px,2.5px); /* Chrome, Safari, Opera vendor prefixes*/
    transform: translate(2.5px,2.5px); 
}

.absolute{
	left: 500px;
	position: absolute;
	top: 400px;
}

#startNewGame, #wagerBox, #wrapper>section, #finalJeopardyInfo, #showGameStats{
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
}

#startNewGame, #wagerBox, #finalJeopardyInfo, #showGameStats{
	position: relative;
}

#wagerBox>p:first-of-type{
	margin: 20px auto;
}

#wagerBox>span:nth-of-type(2){
	color: rgb(255,215,0);
}

#finalJeopardyInfo>span:first-of-type,#wagerBox>span:first-of-type{
	color: rgb(255,215,0);
	float: right;
	margin-right: 5px;
}

#finalJeopardyInfo>span:first-of-type:hover,#wagerBox>span:first-of-type:hover{
	color: rgb(255,0,0);
	cursor: pointer;
}

#finalJeopardyInfo>ul, #showGameStats>section>ul{
	margin-bottom: 10px;
	text-align: left;
}

#showGameStats>h1{
	font-size: 150%;
}

#showGameStats>section>h1{
	font-size: 120%;
}

section>span:nth-of-type(2), .positive{
	color: rgb(31,72,7);
}

.negative{
	color: rgb(255,0,0);
}

.positive,.negative{
	margin-left: 3px;
	margin-right: 3px;
}

input{
	margin:0;
	text-align: center;
	width: 200px;
}

input, button{
	border: 3px solid rgb(0,0,0);
	border-radius: 3px;
	font-family: "Maiandra GD", cursive;
	font-weight: bold;	
	text-transform: uppercase;
}

input:focus{
	background-color: rgb(255,215,0);
}

button{
	cursor: pointer;
	display: block;
}

footer{
	left: 500px;
	top: 450px;
	position: absolute;
}

.incorrect{
	top: 450px;
}

.final{
	top: 550px;
}