@import '../header-and-footer.css';
@import '../reset.css';

.hidden{
	display: none;
}

@-webkit-keyframes fadeFromView{
	from {
		opacity: 1;
	} 
	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeFromView{
	from {
		opacity: 1;
	} 
	to {
		opacity: 0;
	}
}

@keyframes fadeFromView{
	from {
		opacity: 1;
	} 
	to {
		opacity: 0;
	}
}

.fadeFromView{
	-webkit-animation: fadeFromView 3s 1;
	-moz-animation: fadeFromView 3s 1;
	animation: fadeFromView 3s 1;
}

@-webkit-keyframes fadeIntoView{
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIntoView{
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}

@keyframes fadeIntoView{
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}

.fadeIntoView{
	-webkit-animation: fadeIntoView 3s 1;
	-moz-animation: fadeIntoView 3s 1;
	animation: fadeIntoView 3s 1;
}

#startNewGame{
	left: 375px;
	width: 600px;
}

#startNewGame>button{
	margin: 10px auto;
}

#wagerBox>button:active, section>button:active, #startNewGame>button:active, #showGameStats>button:active{
	-ms-transform: translate(2.5px,2.5px); /* IE vendor prefix*/
    -webkit-transform: translate(2.5px,2.5px); /* Chrome, Safari, Opera vendor prefixes*/
    transform: translate(2.5px,2.5px); 
}

.absolute{
	left: 500px;
	position: absolute;
	top: 400px;
}

#startNewGame, #wagerBox, #wrapper>section, #finalJeopardyInfo, #showGameStats{
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
}

#startNewGame, #wagerBox, #finalJeopardyInfo, #showGameStats{
	position: absolute;
}

#wagerBox{
	height: 200px;
	left: 425px;
	width: 500px;
}

#wagerBox>p:first-of-type{
	margin: 20px auto;
}

#wagerBox>span:nth-of-type(2){
	color: rgb(255,215,0);
}

#finalJeopardyInfo{
	height: 250px;
	left: 375px;
	top: 150px;
	width: 600px;
}

#finalJeopardyInfo>span:first-of-type,#wagerBox>span:first-of-type{
	color: rgb(255,215,0);
	float: right;
	margin-right: 5px;
}

#finalJeopardyInfo>span:first-of-type:hover,#wagerBox>span:first-of-type:hover{
	color: rgb(255,0,0);
	cursor: pointer;
}

#finalJeopardyInfo>h1{
	font-size: 150%;
}

#finalJeopardyInfo>ul, #showGameStats>section>ul{
	text-align: left;
}

#finalJeopardyInfo>ul{
	margin-left: 20px;
	width: 500px;
}

#showGameStats{
	height: 300px;
	left: 375px;
	width: 600px;
}

#showGameStats>section>ul{
	width: 250px;
}

#showGameStats>h1{
	font-size: 150%;
}

#showGameStats>section{
	float: left;
	width: 280px;
}

#showGameStats>section>h1{
	font-size: 120%;
}

#showGameStats>form{
	margin: 0 auto;
	width: 480px;
}

#showGameStats>form>button{
	margin-left: 10px;
}

#showGameStats>button:last-of-type{
	left: 130px;
	position: absolute;
	top: 250px;
}

#wrapper>section{
	height: 300px;
	margin-left: 200px;
	width: 600px;
}

section>span:first-of-type{
	margin-left: 2px;
}

section>p:first-child{
	margin: 15px auto;
	width: 500px;
}

section>p:nth-child(2){
	margin-bottom: 0px;
	margin-top: 15px;
}

section>span:nth-of-type(2), .positive{
	color: rgb(31,72,7);
}

.negative{
	color: rgb(255,0,0);
}

.positive,.negative{
	margin-left: 3px;
	margin-right: 3px;
}

input{
	margin:0;
	text-align: center;
	width: 250px;
}


input, button{
	border: 3px solid rgb(0,0,0);
	border-radius: 3px;
	font-family: "Maiandra GD", cursive;
	font-weight: bold;	
	text-transform: uppercase;
}

input:focus{
	background-color: rgb(255,215,0);
}

button{
	cursor: pointer;
	display: block;
}

#wagerBox>button{
	margin-left: 225px;
	margin-top: 5px;
}

section>button{
	margin-left: 225px;
	margin-top: 10px;
}

footer{
	left: 500px;
	top: 450px;
	position: absolute;
}

.incorrect{
	top: 450px;
}

.final{
	top: 550px;
}