/*
This page(confirmation.php), unlike the jeopardy game pages, has a border surrounding the wrapper element; therefore, the CSS rules set out in 
'header-and-footer.css' cannot and will not be used.
*/
body{
	background-color: rgb(0,0,255);
	color: rgb(255,215,0);
	font-family: "Maiandra GD", cursive;
	font-weight: bold;
	text-align: center;
}

#wrapper{
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
	margin: 20px auto;
	width: 800px;
}

#wrapper, #incomplete{
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
}

#wrapper>p{
	margin-left: 100px;
	width: 600px;
}

#wrapper>p:nth-of-type(2){
	margin-top: 40px;
}

button{
	border: 3px solid rgb(0,0,0);
	border-radius: 3px;
	cursor: pointer;
	display: block;
	font-family: "Maiandra GD", cursive;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
	text-transform: uppercase;
}

button:active{
    -moz-transform: translate(2.5px,2.5px); 
	-ms-transform: translate(2.5px,2.5px); /* IE vendor prefix*/
    -webkit-transform: translate(2.5px,2.5px); /* Chrome, Safari, Opera vendor prefixes*/
	transform: translate(2.5px,2.5px); 
}

footer{
	margin-bottom: 20px;
	margin-top: 80px;
}

@-webkit-keyframes fadeFromView{
	from {
		opacity: 1;
	} 
	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeFromView{
	from {
		opacity: 1;
	} 
	to {
		opacity: 0;
	}
}

@keyframes fadeFromView{
	from {
		opacity: 1;
	} 
	to {
		opacity: 0;
	}
}

.fadeFromView{
	-moz-animation: fadeFromView 3s 1;
	-webkit-animation: fadeFromView 3s 1;
	animation: fadeFromView 3s 1;
}

@-webkit-keyframes fadeIntoView{
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIntoView{
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}

@keyframes fadeIntoView{
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}

.fadeIntoView{
	-moz-animation: fadeIntoView 3s 1;
	-webkit-animation: fadeIntoView 3s 1;
	animation: fadeIntoView 3s 1;
}

#incomplete>span{
	color: rgb(255,215,0);
	float: right;
	margin-right: 5px;
}

#incomplete>span:hover{
	color: rgb(255,0,0);
	cursor: pointer;
}

#incomplete{
	background-color: rgb(0,0,255);
	left: 400px;
	position: absolute;
}