@import '../reset.css';

/*
This page(confirmation.php), unlike the jeopardy game pages, has a border surrounding the wrapper element; therefore, the CSS rules set out in 
'header-and-footer.css' cannot and will not be used.
*/
body{
	background-color: rgb(0,0,255);
	color: rgb(255,215,0);
	font-family: "Maiandra GD", cursive;
	font-weight: bold;
	text-align: center;
}

div#wrapper{
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
	margin: 20px auto;
	width: 800px;
}

#wrapper>p{
	margin-left: 100px;
	width: 600px;
}

#wrapper>p:nth-of-type(2){
	margin-top: 40px;
}

#wrapper>div{
	border: 3px solid rgb(0,0,0);
	cursor: pointer;
	margin-left: 170px;
	text-align: left;
	width: 470px;
}

button{
	border: 3px solid rgb(0,0,0);
	border-radius: 3px;
	cursor: pointer;
	display: block;
	font-family: "Maiandra GD", cursive;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
	text-transform: uppercase;
}

button:active{
	-ms-transform: translate(2.5px,2.5px); /* IE vendor prefix*/
    -webkit-transform: translate(2.5px,2.5px); /* Chrome, Safari, Opera vendor prefixes*/
    transform: translate(2.5px,2.5px); 
}

footer{
	margin-bottom: 20px;
	margin-top: 80px;
}