.hidden{
	display: none;
}

@-webkit-keyframes fadeFromView{
	from {opacity: 1;} 
	to {opacity: 0;}
}

@-moz-keyframes fadeFromView{
	from {opacity: 1;} 
	to {opacity: 0;}
}

@keyframes fadeFromView{
	from {opacity: 1;} 
	to {opacity: 0;}
}

.fadeFromView{
	-webkit-animation: fadeFromView 3s 1;
	-moz-animation: fadeFromView 3s 1;
	animation: fadeFromView 3s 1;
}

@-webkit-keyframes fadeIntoView{
	0% {opacity: 0;} 
	100% {opacity: 1;}
}

@-moz-keyframes fadeIntoView{
	0% {opacity: 0;} 
	100% {opacity: 1;}
}

@keyframes fadeIntoView{
	0% {opacity: 0;} 
	100% {opacity: 1;}
}

.fadeIntoView{
	-webkit-animation: fadeIntoView 3s 1;
	-moz-animation: fadeIntoView 3s 1;
	animation: fadeIntoView 3s 1;
}

#startNewGame{
	left: 375px;
	width: 600px;
}

#startNewGame>button{
	margin: 10px auto;
}

.absolute{
	left: 500px;
	position: absolute;
	top: 400px;
}

#dailyDouble{
	height: 60px;
	top: 200px;
}

#nameBox{
	height: 150px;
	left: 420px;
	top: 200px;
	width: 500px;
}

#ruleBox{
	height: 350px;
	left: 370px;
	top: 200px;
	width: 600px;
}

#alreadySelectedWarning{
	height: 100px;
	top: 300px;
}

#wagerRules{
	height: 150px;
	left: 420px;
	top: 200px;
	width: 500px;	
}

#wagerBox{
	height: 225px;
	left: 420px;
	top: 200px;
	width: 500px;	
}

#completedMessage{
	left: 450px;
	height: 330px;
	top: 200px;
	width: 500px;
}

#dailyDouble, #alreadySelectedWarning{
	left: 500px;
	width: 200px;
}

#startNewGame, #nameBox, #ruleBox, #alreadySelectedWarning, #dailyDouble, #wagerRules, #wagerBox, .magnified, #answer, #completedMessage{
	background-color: rgb(0,0,255);
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
	color: rgb(255,215,0); 
	position: absolute;
}

#nameBox, .magnified, #answer{
	font-size: 100%;
}

#alreadySelectedWarning, .magnified, #answer{
	padding: 5px;
}

.magnified, #answer{
	height: 300px;
	top: 200px;
	width: 300px;	
}

.magnified{
	left: 400px;
}

#answer{
	right: 310px;
}

#dailyDouble>span:first-child, #ruleBox>span:first-child, #wagerBox>span:first-child, #alreadySelectedWarning>span:first-child, #wagerRules>span:first-child, 
.magnified>span:first-child, #answer>span:first-child{
	float: right;
	margin-bottom: 20px;
	margin-right: 3px;
}

#dailyDouble>span:first-child:hover, #ruleBox>span:first-child:hover, #wagerBox>span:first-child:hover, #alreadySelectedWarning>span:first-child:hover, #wagerRules>span:first-child:hover,  
.magnified>span:first-child:hover, #answer>span:first-child:hover{
	color: rgb(255,0,0);
	cursor: pointer;
}

#dailyDouble>h1, #wagerRules>h1, #ruleBox>h1, #completedMessage>h1{
	font-size: 150%;
}

div#ruleBox>ul:first-of-type, div#wagerRules>ul:first-of-type, div#answer>ul:first-of-type, div#completedMessage>section>ul:first-of-type{
	text-align: left;
}

#answer>ul:first-of-type{
	margin-left: 20px;
}

div#ruleBox>ul:first-of-type{
	margin-left: 25px;
	width: 500px;
}

div#wagerRules>ul:first-of-type{
	width: 450px;
}

#completedMessage>section{
	float: left;
	width: 240px;
}

#completedMessage>section>h1{
	font-size: 120%;
}

#completedMessage>section>#exception{
	margin-top: 40px;
}

#completedMessage>section>ul>li>.positive,#completedMessage>section>ul>li>.negative{
	margin-left: 5px;
}

.positive{
	color: rgb(31,72,7);
}

.negative{
	color: rgb(255,0,0);
}

li{
	font-size: 80%;	
}

#completedMessage>button{
	margin: 5px auto;
}

#nameBox>button:active, #answer>button:active, #startNewGame>button:active, #completedMessage>button:active{ /*Make an animated button.*/
	-ms-transform: translate(2.5px,2.5px); /* IE vendor prefix*/
    -webkit-transform: translate(2.5px,2.5px); /* Chrome, Safari, Opera vendor prefixes*/
    transform: translate(2.5px,2.5px); 
}

/*Inside the magnified screen, the <p> elements used to hold the clue or the category are assigned and selected using classes 
as opposed to using advanced pseudo-classes as using p:first-of-type OR p:nth-child(2) would prevent CSS from distinguishing
the <p> elements used to display clue content from the <p> elements used to display category content. More importantly, this means
that the different CSS rules would not be applied.
*/
.magnified>p.clue{
	margin-top: 40px;
}

.magnified>p.category{
	margin-top: 120px;
}

#answer>span:last-of-type{
	margin-left: 3px;
}

#answer>p:first-of-type, #wagerBox>p:first-of-type{
	margin-top: 20px;
}

#answer>p:nth-of-type(2), #answer>p:nth-of-type(5){
	margin-top: 5px;
}

#answer>p:nth-of-type(3),#answer>p:nth-of-type(4){
	margin: 0;
}

#answer>ul>li>span:first-child{
	margin-left: 3px;
}

#answer>p:nth-of-type(5),#answer>ul>li:nth-child(2)>span,#answer>ul>li:nth-child(3)>span{
	color: rgb(0,0,0);
}

input, button{
	border: 3px solid rgb(0,0,0);
	border-radius: 3px;
	font-family: "Maiandra GD", cursive;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

input:focus{
	background-color: rgb(255,215,0);
}

button{
	cursor: pointer;
	display: block;
}

#answer>input{
	margin-top: 0px;
	width: 200px;
}

#answer>button{
	margin-left: 75px;
	margin-top: 10px;
}

#nameBox>p{
	margin: 10px auto;
}

#nameBox>input{
	margin-left: -10px;
	text-align: center;
	width: 180px;
}

#nameBox>button{
	margin-left: 75px;
	margin-top: 10px;
}

#wagerBox>button{
	margin-left: 200px;
	margin-top: 10px;
	width: 100px;
}

#alreadySelectedWarning>p{
	margin-top: 20px;
}