.absolute{ /*Used for setting appearance of the HTML footer element during gameplay.*/
	position: absolute;
	top: 100%;
}

#startNewGame, #nameBox, #ruleBox, #alreadySelectedWarning, 
#dailyDouble, #wagerRules, #wagerBox, .magnifiedCategory, #completedMessage{
	background-color: rgb(0,0,255);
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
	color: rgb(255,215,0); 
	position: relative;
}

.magnifiedClue,
#answer, 
#dailyDouble{
	background-color: rgb(0,0,255);
	border: 5px solid rgb(0,0,0);
	border-radius: 10px;
	color: rgb(255,215,0); 
}

#alreadySelectedWarning, 
.magnifiedCategory, 
#answer{
	padding: 5px;
}

#dailyDouble>span:first-child, 
#ruleBox>span:first-child, 
#wagerBox>span:first-child, 
#alreadySelectedWarning>span:first-child, 
#wagerRules>span:first-child, 
.magnifiedCategory>span:first-child, 
.magnifiedClue>span:first-child, 
#answer>span:first-child{
	float: right;
	margin-bottom: 20px;
	margin-right: 3px;
}

#dailyDouble>span:first-child:hover, 
#ruleBox>span:first-child:hover, 
#wagerBox>span:first-child:hover, 
#alreadySelectedWarning>span:first-child:hover, 
#wagerRules>span:first-child:hover,  
.magnifiedCategory>span:first-child:hover, 
.magnifiedClue>span:first-child:hover, 
#answer>span:first-child:hover{
	color: rgb(255,0,0);
	cursor: pointer;
}

div#ruleBox>ul:first-of-type, 
div#wagerRules>ul:first-of-type, 
div#completedMessage>section>ul:first-of-type{
	text-align: left;
}

#completedMessage>section{
	float: left;
	width: 45%;
}

#completedMessage>section>ul>li>.positive,
#completedMessage>section>ul>li>.negative{
	margin-left: 5px;
}

.positive{
	color: rgb(31,72,7);
}

.negative{
	color: rgb(255,0,0);
}

li{
	font-size: 80%;	
}

#completedMessage>button{
	margin: 5px auto;
}

/*Make an animated button.*/
#nameBox>button:active, 
#answer>button:active, 
#startNewGame>button:active, 
#completedMessage>button:active{ 
	-ms-transform: translate(2.5px,2.5px); 
    -webkit-transform: translate(2.5px,2.5px); 
    transform: translate(2.5px,2.5px); 
}

/*Inside the magnified screen, the <p> elements used to hold the clue or the category are assigned and selected using classes 
as opposed to using advanced pseudo-classes as using p:first-of-type OR p:nth-child(2) would prevent CSS from distinguishing
the <p> elements used to display clue content from the <p> elements used to display category content. More importantly, this means
that the different CSS rules would not be applied.
*/

#answer>span:last-of-type{
	margin-left: 3px;
}

#wagerBox>p:first-of-type{
	margin-top: 20px;
}

#answer>p:nth-of-type(2), #answer>p:nth-of-type(5){
	margin-top: 5px;
}

#answer>p:nth-of-type(3),#answer>p:nth-of-type(4){
	margin: 0;
}

#answer>ul>li>span:first-child{
	margin-left: 3px;
}

#answer>p:nth-of-type(5),
#answer>ul>li:nth-child(2)>span,
#answer>ul>li:nth-child(3)>span{
	color: rgb(0,0,0);
}

input, button{
	border: 3px solid rgb(0,0,0);
	border-radius: 3px;
	font-family: "Maiandra GD", cursive;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

input:focus{
	background-color: rgb(255,215,0);
}

button{
	cursor: pointer;
	display: block;
}

#alreadySelectedWarning>p{
	margin-top: 20px;
}

#answer>ul:first-of-type{
	text-align: left;
}

@media only screen and (min-width:287px){
	#nameBox, #ruleBox{
		top: -40px;
	}
	
	#nameBox>button{
		margin: 2.5% auto;
		width: 75%;
	}
	
	#dailyDouble>h1, #wagerRules>h1, #ruleBox>h1, #completedMessage>h1, #completedMessage>section>h1{
		font-size: 110%;
	}
	
	.magnifiedCategory{
		height: 120px;
		left: 100px;
		top: -300px;
		width: 120px;
	}
	
	.magnifiedClue{
		position: absolute;
		top: 15%;
	}
	
	.magnifiedClue, #answer{
		font-size: 90%;
	}
	
	.magnifiedClue>.clue{
		margin-top: 10%;
	}

	#answer>button{
		margin: 2% auto;
	}
	
	#answer{
		top: -400px;
		position: relative;
	}
	
	#dailyDouble{
		font-size: 70%;		
		height: 40px;
		top: -300px;
	}
	
	#wagerRules, #wagerBox{
		top: -300px;
	}
	
	#wagerBox>button{
		margin: 5px auto;
	}
		
	#wagerBox>p, #ruleBox>p{
		font-size: 80%;
		margin: 2.5% auto;
	}
	
	#startNewGame>p,#nameBox>button, #ruleBox>button, #wagerBox>button, #answer>button, #startNewGame>button{
		font-size: 70%;
	}
	
	#startNewGame>button{
		margin: 1% auto;
	}
}

@media only screen and (min-width:320px){	
	#startNewGame{
		top: -300px;
	}
	
	#nameBox, #ruleBox{
		top: -300px;
	}
	
	#nameBox{
		left: 20%;
		width: 60%;
	}
	
	#ruleBox>p, #ruleBox>ul:first-of-type{
		margin: 15px auto;
		width: 80%;
	}
	
	#alreadySelectedWarning{
		height: 100px;
		top: -300px;
	}

	.category{
		line-height: 150%;
		margin-top: 25%;
		text-align: center;
	}
	
	#answer>p:first-of-type{
		margin-top: 15px;
	}
	
	#answer>input{
		margin-left: 5%;
		margin-top: -10px;
		width: 70%;
	}
	
	#completedMessage{
		top:-300px;
	}
		
	#nameBox, #ruleBox>ul:first-of-type .magnifiedCategory, #answer{
		font-size: 90%;
	}
	
	.absolute{
		left: 5%;
		text-align: center;
	}
}

@media only screen and (min-width:400px){
	#nameBox>button{
		margin: 10px auto;
		width: 150px;
	}
}

@media only screen and (min-width:500px){
	.magnifiedClue{
		left:10%;
	}
		
	#answer{
		left:50%;
		top: 15%;
		position: absolute;
	}
}

@media only screen and (min-width:600px){
	.magnifiedClue{
		left: 7.5%;
	}
	
	#answer{
		left: 50%;
	}
	
	.magnifiedClue, #answer{
		height: 250px;
		width: 250px;
	}
	
	#dailyDouble{
		font-size: 90%;
		left: 10%;
		height: 60px;
		top: -400px;
		width:80%;
	}
	
	#ruleBox,#wagerRules, #wagerBox, #alreadySelectedWarning, #startNewGame{
		left: 10%;
		width: 80%;
	}
	
	#dailyDouble>h1, #wagerRules>h1, #ruleBox>h1, #completedMessage>h1{
		font-size: 130%;
	}
	
	#ruleBox>p, #ruleBox>ul:first-of-type{
		font-size: 110%;
	}
	
	#startNewGame>p{
		font-size: 90%;
	}
}

@media only screen and (min-width:700px){
	.magnifiedClue{
		left: 12.5%;
	}
	
	#answer{
		left: 50%;
	}
	
	.magnifiedClue, #answer{
		height: 250px;
		width: 250px;
	}
		
	.absolute{
		left: 25%;
	}
	
	#completedMessage{
		left: 20%;
		width: 60%;
	}
	
	#completedMessage>ul{
		width: 80%;
	}
}

@media only screen and (min-width:800px){	
	.absolute{
		left: 30%;
	}
}

@media only screen and (min-width:900px){
	.magnifiedClue{
		left: 25%;
	}
	
	#dailyDouble{
		left: 20%;
		width: 60%;
	}
	
	#wagerRules,#wagerBox,#alreadySelectedWarning{
		left: 15%;
		width: 70%;		
	}
}

@media only screen and (min-width:1020px){
	.magnifiedCategory{
		height: 120px;
		left: 500px;
		top: -700px;
		width: 120px;
	}
	
	#startNewGame{
		left: 375px;
		width: 600px;
	}

	#startNewGame>button{
		margin: 10px auto;
	}
	
	#nameBox{
		font-size: 100%;
		height: 150px;
		left: 425px;
		top: -300px;
		width: 500px;
	}
	
	#nameBox>button{
		margin: 10px auto;
	}
	
	#ruleBox{
		height: 500px;
		left: 350px;
		top: -400px;
		width: 600px;
	}
	
	#dailyDouble{
		height: 60px;
		top: -300px;
	}
	
	#wagerRules{
		height: 150px;
		left: 420px;
		top: -400px;
		width: 500px;	
	}
	
	#wagerRules>ul:first-of-type{
		width: 450px;
	}

	#wagerBox{
		height: 225px;
		left: 420px;
		top: -400px;
		width: 500px;	
	}
	
	#wagerBox>button{
		margin-left: 200px;
		margin-top: 10px;
		width: 100px;
	}
	
	.magnifiedClue, #answer{
		font-size: 100%;
		height: 300px;
		width: 300px;
	}
	
	#answer{
		left: 700px;
	}
	
	#answer>button{
		font-size: 100%;
	}
	
	#alreadySelectedWarning{
		height: 100px;
		top: -300px;
		width: 100px;
	}
	
	#completedMessage{
		left: 350px;
		width: 600px;
	}
	
	.absolute{
		left: 500px;
	}
}